.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
min-width: 50rem;
    div{
        max-width: 30rem;
        border: 1px black solid;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 20px;
        padding: 2%;
        margin: 3% 0;
        img{
            width:80%;
            object-fit: contain;
        }
        h1{
            font-size: 2rem;
        }
        h3{
            font-size: 2rem;
        }
        .details{
            border: none;
            margin: 0;
            padding: 0;
            line-height: 2;
            strong{
                font-size: 1.2rem;
            }
            span{
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    border: none;
                    font-size: 1.1rem;
                    padding: 3% 5%;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                    outline: none;
                    cursor: pointer;
                    &:nth-child(1){
                        background-color: green;
                    }
                    &:nth-child(2){
                        background-color: red;
                    }
                }
            }
        }
        
    }
}